* {
  box-sizing: border-box;
}

html,
body {
  background-color: #FEDCC8;
}

.parallax {
  -webkit-perspective: 100px;
          perspective: 100px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  margin-left: -1500px;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer img {
  display: block;
  position: absolute;
  bottom: 0;
}

.parallax__cover {
  background: #2D112B;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 200px;
  z-index: 2;
}

.parallax__layer__0 {
  -webkit-transform: translateZ(-300px) scale(4);
          transform: translateZ(-300px) scale(4);
}

.parallax__layer__1 {
  -webkit-transform: translateZ(-250px) scale(3.5);
          transform: translateZ(-250px) scale(3.5);
}

.parallax__layer__2 {
  -webkit-transform: translateZ(-200px) scale(3);
          transform: translateZ(-200px) scale(3);
}

.parallax__layer__3 {
  -webkit-transform: translateZ(-150px) scale(2.5);
          transform: translateZ(-150px) scale(2.5);
}

.parallax__layer__4 {
  -webkit-transform: translateZ(-100px) scale(2);
          transform: translateZ(-100px) scale(2);
}

.parallax__layer__5 {
  -webkit-transform: translateZ(-50px) scale(1.5);
          transform: translateZ(-50px) scale(1.5);
}

.parallax__layer__6 {
  -webkit-transform: translateZ(0px) scale(1);
          transform: translateZ(0px) scale(1);
}

.welcome_text{
  color: #000000;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:900');

body {
  display: table;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-image: url('https://thumbs.gfycat.com/SatisfiedQuarrelsomeInsect-small.gif');
/*  background-image: url('https://media2.giphy.com/media/3o84TXH75pflqWGPi8/source.gif'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body::before {
  content: '';
  display: block;
  position: absolute;%p I'll have
%ul
  %li two number nines
  %li a number nine large
  %li a number 6 with extra dip
  %li a number 7
  %li two number 45<sub>s</sub>
  %li one with cheese
  %li and a large soda
  -# - (1..6).each do |i|
    %li item #{i}
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

body::after {
  content: 'LEGION';
  display: table-cell;
  vertical-align: middle;
  position: relative;
  background: inherit;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-size: 16vw;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-align: center;
}
